<!doctype html>
<html>
<head>
<title>
{% if currentsong.title %}
Mpd Now Playing - {{ currentsong.title|safe }}
{% else %}
Mpd
{% endif %}
</title>
<style>
  tr:nth-child(odd)    { background-color:#e4e4e4; }
  tr:nth-child(even)    { background-color:#ffffff; }
  tr.playing:nth-child(even) { background-color : #d4ffd4 ; }
  tr.playing:nth-child(odd) { background-color : #d4e4d4 ; }
</style>
<script type="text/javascript" src="{{ url_for('static', filename='mpd.js') }}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}">
</script>
</head>
<body onload="on_load()">
<button id="btn_1" onclick="my_ajax()">Test</button>
{% if currentsong.title %}
  <input type="hidden" id="elapsed_initial" value="{{ currentsong.elapsed|safe }}"/>
  <input type="hidden" id="current_song" value="{{ currentsong.pos|safe }}"/>
  <table><tr><th>Title</th><th>Artist</th><th>Album</th><th>Track</th><th>Elapsed</td><th>Length</th></tr>
  <tr><td id="current_title">{{ currentsong.title|safe }}</td>
<td id="current_artist">{{ currentsong.artist|safe }}</td>
<td id="current_album">{{ currentsong.album|safe }}</td>
<td id="current_track">{{ currentsong.track|safe }}</td>
<td id="elapsed">{{ currentsong.elapsed|safe }}</td>
<td id="length">{{ currentsong_lengthm }}:{% if currentsong_lengths < 10 %}0{{ currentsong_lengths }}{% else %}{{ currentsong_lengths }}{% endif %}</td>
</tr>
</table>
{% else %}
  <p>None</p>
{% endif %}

  <button id="btn_previous" onclick="previous()">&lt;&lt;</button>
  <button id="btn_play" onclick="play()">Play</button>
  <button id="btn_next" onclick="next()">&gt;&gt;</button>

<table>
{% for song in playlist %}
 {% if song.playing %}
 <tr class="playing" id="playlist_row_{{ song.pos }}">
 {% else %}
 <tr class="playlist" id="playlist_row_{{ song.pos }}">
 {% endif %}
  <td>
   <button id="btn_play_{{ song.pos }}" onclick="my_post('/command/play/{{ song.pos }}')">{{ song.pos }}</button>
  </td>
  <td id="title_{{ song.pos }}">
  {{ song.title|safe }}</td><td>{{ song.artist|safe }}</td><td>{{ song.album|safe }}</td>
  <input type="hidden" id="song_length_{{ song.pos }}" value="{{ song.length|safe }}">
  <td>
   {% if song.length % 60 < 10 %}
   {{ song.length // 60 }}:0{{ song.length % 60 }}
   {% else %}
   {{ song.length // 60 }}:{{ song.length % 60 }}
   {% endif %}
  </td>
 </tr>
{% endfor %}
</table>
<p id="demo"></p>
<table>
{% for song in allsongs %}
  <tr class="allsongs">
    <td>{{ song.title|safe }}</td><td>{{ song.artist|safe }}</td><td>{{ song.album|safe }}</td>
    <td>
    {% if song.length % 60 < 10 %}
     {{ song.length // 60 }}:0{{ song.length % 60 }}
    {% else %}
     {{ song.length // 60 }}:{{ song.length % 60 }}
    {% endif %}
   </td>
  </tr>
{% endfor %}
</table>
</body>
</html>
